.contact{
    width:500px;
    max-width:90%;
    margin:40px auto;
}

.contact h1{
    text-align:center;
    margin-bottom:25px;
}

.contact form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.contact input,
.contact textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.contact button{
    padding:12px;
    background:#1565c0;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.contact button:hover{
    background:#0d47a1;
}