.home{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
    background:linear-gradient(135deg,#2193b0,#6dd5ed);
}

.hero{
    text-align:center;
    color:white;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.hero button{
    padding:12px 30px;
    border:none;
    background:#fff;
    color:#1565c0;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

.hero button:hover{
    background:#1565c0;
    color:white;
}