.products-page{
    width:90%;
    margin:auto;
}

.products-page h1{
    text-align:center;
    margin:25px 0;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}